<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<appSettings>

		<add key="InputPath" value="C:\dev\els\branches\Development\01-Assets\TuitionFlex\ed2go\TuitionExtend\ApplicationForm\" />
		<add key="OutputPath" value="C:\dev\els\PdfTemplatesCosignerNote\TuitionExtend\" />

		<!--<add key="InputPath" value="C:\dev\els\branches\Development\01-Assets\TuitionFlex\ed2go\TuitionFlexPlus\ApplicationForm\" />
		<add key="OutputPath" value="C:\dev\els\PdfTemplatesCosignerNote\TuitionFlexPlus\" />-->

		<add key="GeneratePdf" value="false" />

		<add key="Left" value="535" />
		<add key="Top" value="67" />
	</appSettings>
</configuration>